.Event-Details {
  background-color: #fafafa;
  border-radius: 20px;
  margin: 0 -1.5vw -1.5vw;
  padding: 1.5vw;
}

.Event-Description {
  font-size: 1.25rem;
  margin: 5px 0 0;
}

.Event-Graph {
  width: 100%;
  display: block;
  margin-top: 40px;
}

.Event-Weather {
  margin-top: 20px;
  font-size: 1.125rem;
  color: #000;
  display: flex;
}

.Event-WeatherTemp,
.Event-WeatherHum {
  margin: 0;
  display: inline-block;
}

.Event-WeatherTemp {
  margin-right: 40px;
}

.Event-BtnGroup {
  margin-top: 25px;
  display: flex;
  font-size: 1.25rem;
}

.Event-BtnGroup Button:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 767.98px) {
  .Event-Details {
    margin: 0 -15px -20px;
    padding: 15px 15px 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .Event-Description {
    font-size: 1.633rem;
  }

  .Event-BtnGroup {
    justify-content: space-between;
    font-size: 1.8rem;
  }

  .Event-Weather {
    font-size: 1.25rem;
    justify-content: space-between;
  }

  .Event-WeatherTemp {
    margin-right: 0;
  }
}
