.EventData {
  background-color: #fafafa;
  border-radius: 20px;
  padding: 1.5vw;
  font-size: 1.25rem;
}

.EventData-Description {
  margin: 5px 0 0;
}

.EventData-Graph {
  width: 100%;
  display: block;
  margin-top: 40px;
}

.EventData-Weather {
  margin-top: 20px;
  font-size: 1.125rem;
  color: #000;
  display: flex;
}

.EventData-WeatherTemp,
.EventData-WeatherHum {
  margin: 0;
  display: inline-block;
}

.EventData-WeatherTemp {
  margin-right: 40px;
}

.EventData-BtnGroup {
  margin-top: 25px;
  display: flex;
}

.EventData-BtnGroup Button:not(:last-child) {
  margin-right: 15px;
}

.EventData-Camera {
  margin-top: 20px;
}

.EventData-MusicPanel {
  margin-top: 25px;
}

@media screen and (max-width: 767.98px) {
  .EventData {
    padding: 15px 15px 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .EventData-Description {
    font-size: 1.633rem;
  }

  .EventData-BtnGroup {
    justify-content: space-between;
    font-size: 1.8rem;
  }

  .EventData-Weather {
    justify-content: space-between;
  }

  .EventData-WeatherTemp {
    margin-right: 0;
  }
}
