.Camera {
  margin-top: 20px;
}

.Camera-Img {
  width: 100%;
  padding-bottom: 50%;
  background-image: url(images/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  user-select: none;
  touch-action: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .Camera-Img {
    background-image: url(images/Bitmap@2x.jpg);
  }
}

@media 
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx),
(min-resolution: 288dpi) {
  .Camera-Img {
    background-image: url(images/Bitmap@3x.jpg);
  }
}

.Camera-Info {
  display: flex;
  visibility: hidden;
  height: 0;
  justify-content: space-between;
  font-size: 1.125rem;
  position: relative;
  flex-wrap: wrap;
}

.Camera-Zoomn,
.Camera-Brightness {
  margin-bottom: 0;
}

.Camera-ResetZoomWrapper {
  width: 100%;
  margin-top: 10px;
}

.Camera-ResetZoomBtn {
  padding: 5px 30px;
  background: none;
  border: 1px solid rgba(0,0,0,0.50);
  cursor: pointer;
}

.Camera-ScrollBarArea {
  position: absolute;
  width: calc(100% - 100px);
  margin: -15px 50px 0;
  height: 2px;
  box-sizing: border-box;
}

.Camera-ScrollBar {
  height: 2px;
  width: 100px;
  background: rgba(0,0,0,0.50);
  border-radius: 2px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
